p {
  text-align: left;
}

/* ---------- HOMEPAGE GRID LAYOUT ---------- */
.index-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 1.2fr 0.6fr;
  grid-template-areas:
    "header header nav"
    "main main main"
    "section1 section2 section3"
    "footer footer footer";
  grid-gap: 0.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- PAY CALC  PAGE GRID LAYOUT ---------- */
.pay-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.7fr 0.6fr;
  grid-template-areas:
    "nav"
    "main"
    "footer ";
  grid-gap: 0.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- JOB DESC  PAGE GRID LAYOUT ---------- */
.job-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.7fr 0.6fr;
  grid-template-areas:
    "nav"
    "main"
    "footer ";
  grid-gap: 0.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- ABOUT PAGE GRID LAYOUT ---------- */
.about-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.5fr 1.2fr 0.6fr;
  grid-template-areas:
    "nav"
    "main"
    "section4"
    "footer ";
  grid-gap: 0.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- HEADER ---------- */
header {
  background-color: aqua;
  grid-area: header;
}

/* ---------- NAVIGATION BAR  ---------- */
nav {
  background-color: lightgreen;
  grid-area: nav;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 1em;
}

nav li {
  margin: 0.5em;
}

/* Unvisited link  */
nav a {
  color: black;
  text-decoration: none;
}

/* Visited link    */
/* nav a:visited {
  color: #00ff00;
} */

/* Mouse over link */
nav a:hover {
  color: #ff00ff;
}

/* Selected link   */
nav a:active {
  color: #0000ff;
}

/* Highlight page link currently on*/
nav li a.current {
  background-color: lightgray;
  /* padding: 10px; */
}

/* ---------- HOMEPAGE MAIN CONTENT  ---------- */
main {
  background-color: lightpink;
  grid-area: main;
}

main p {
  text-align: center;
}

h2 {
  color: blue;
  font-size: 2em;
}

/* ---------- SECTIONS ---------- */

.card-header {
  background-color: burlywood;
  color: cornflowerblue;
}

/* 
h3 {
    color: blueviolet;
} */

.card {
  padding: 2em;
}

.content {
  border: solid 1px yellow;
}
/* Section One */
#section1 {
  background-color: lightseagreen;
  grid-area: section1;
}

/* Section Two */
#section2 {
  background-color: lightsteelblue;
  grid-area: section2;
}

/* Section Three */
#section3 {
  background-color: linen;
  grid-area: section3;
}

/*ABOUT PAGE */
/* Section Four */
#section4 {
  background-color: linen;
  grid-area: section4;
}

/* ---------- FOOTER ---------- */
footer {
  grid-area: footer;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer li {
  margin: 40px;
}

footer li i {
  color: black;
}

/* ---------- HOMEPAGE RESPONSIVE FORMATTING ---------- */
@media only screen and (max-width: 550px) {
  .index-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.4fr 2.2fr 1.3fr 1.3fr 1.3fr 0.2fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "section1"
      "section2"
      "section3"
      "footer";
  }
}

/* ---------- ABOUT PAGE RESPONSIVE FORMATTING ---------- */
@media only screen and (max-width: 550px) {
  .index-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3.5fr 1fr 0.2fr;
    grid-template-areas:
      "nav"
      "main"
      "section4"
      "footer";
  }
}
