/* ---------- HOMEPAGE GRID LAYOUT ---------- */
.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 1.2fr 0.6fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "section1 section2 section3"
    "footer footer footer";
  grid-gap: 0.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- TOP NAVIGATION BAR  ---------- */
nav {
  /* background-color: lightgreen; */
  grid-area: nav;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav li {
  margin: 20px;

  /* padding: 10px; */
}

/* Unvisited link  */
nav a {
  color: black;
  text-decoration: none;
}

/* Visited link    */
/* nav a:visited {
  color: #00ff00;
} */

/* Mouse over link */
nav a:hover {
  color: #ff00ff;
}

/* Selected link   */
nav a:active {
  color: #0000ff;
}

/* Unvisited link */
nav a:link {
  color: black;
}

/* Highlight page link currently on*/
nav li a.current {
  background-color: lightgray;
  padding: 10px;
}

/* ---------- HOMEPAGE MAIN CONTENT  ---------- */
main {
  background-color: lightpink;
  grid-area: main;
}

/* Section One */
#section1 {
  background-color: lightseagreen;
  grid-area: section1;
}

/* Section Two */
#section2 {
  background-color: lightsteelblue;
  grid-area: section2;
}

/* Section Three */
#section3 {
  background-color: linen;
  grid-area: section3;
}

/* ---------- FOOTER ---------- */
footer {
  grid-area: footer;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer li {
  margin: 40px;
}

footer li i {
  color: black;
}

/* ---------- HOMEPAGE RESPONSIVE FORMATTING ---------- */
@media only screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 2.2fr 1.2fr 1.2fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav"
      "main"
      "section1"
      "section2"
      "section3"
      "footer";
  }
}
